# SYNDICATE OFFICE SECRET CORE 🤫🌑

# Database
DATABASE_URL="data/syndicate.db"

# Telegram Auth (для Magic Link в админку)
TELEGRAM_BOT_TOKEN=""
ADMIN_TELEGRAM_ID=""
CHANNEL_TELEGRAM_ID=""
DISCUSSION_CHAT_ID=""
# Security
SESSION_SECRET=""
